<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rao's</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/output.css') }}">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>

<div id="remove" class="flex items-center justify-between gap-4 bg-blue-500 px-4 py-3 text-white">
    <p class="text-sm font-medium">Downtime tonight at 6pm EST for maintenance. Sorry for the inconvenience.
    </p>

    <button id="dismiss" aria-label="Dismiss" class="shrink-0 rounded-lg bg-black/10 p-1 transition hover:bg-black/20">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd" />
        </svg>
    </button>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="remove" class="flex items-center justify-between gap-4 bg-blue-500 px-4 py-3 text-white">
    <p class="text-sm font-medium">
        {% for message in messages %}
        {{ message }}{% if message == 'Invalid email or password.' %} <a
            class="text-yellow-300 hover:underline font-bold" href="/reset">Click here to reset.</a>{% endif %}
        {% endfor %}
    </p>

    <button id="dismiss" aria-label="Dismiss" class="shrink-0 rounded-lg bg-black/10 p-1 transition hover:bg-black/20">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd" />
        </svg>
    </button>
</div>

<script>
    document.getElementById('dismiss').addEventListener('click', function () {
        var element = document.getElementById('remove');
        if (element) {
            element.remove();
        }
    });
</script>
{% endif %}
{% endwith %}

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <header class="border-b border-black">

        <body>
            <nav class="relative px-4 py-4 flex justify-between items-center bg-white">
                <a class="text-3xl font-bold leading-none" href="/">
                    <img src="/static/images/logo.png" alt="logo" class="h-10 w-10">
                </a>
                <h1 class="px-4">Rao's Pool Pickle Party</h1>
                <div class="lg:hidden">
                    <button class="navbar-burger flex items-center text-blue-600 p-3">
                        <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <title>Mobile menu</title>
                            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                        </svg>
                    </button>
                </div>
                <ul
                    class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">
                    <li><a {% if home %} class="text-sm text-blue-600 font-bold" {% else %}
                            class="text-sm text-gray-400 hover:text-gray-500" {% endif %} href="/">Home</a></li>
                    <li class="text-gray-300">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor"
                            class="w-4 h-4 current-fill" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                        </svg>
                    </li>
                    <li><a {% if events %} class="text-sm text-blue-600 font-bold" {% else %}
                            class="text-sm text-gray-400 hover:text-gray-500" {% endif %} href="/events">Events</a></li>
                    <li class="text-gray-300">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor"
                            class="w-4 h-4 current-fill" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                        </svg>
                    </li>
                    <li><a {% if pricing %} class="text-sm text-blue-600 font-bold" {% else %}
                            class="text-sm text-gray-400 hover:text-gray-500" {% endif %} href="/pricing">Pricing</a>
                    </li>
                    <li class="text-gray-300">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor"
                            class="w-4 h-4 current-fill" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                        </svg>
                    </li>
                    <li><a {% if contact %} class="text-sm text-blue-600 font-bold" {% else %}
                            class="text-sm text-gray-400 hover:text-gray-500" {% endif %} href="/contact">Contact</a>
                    </li>
                </ul>
                {% if g.user %}
                <a class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold  rounded-xl transition duration-200"
                    href="/account">My account</a>
                <a class="hidden lg:inline-block py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200"
                    href="/logout">Logout</a>
                {% else %}
                <a class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold  rounded-xl transition duration-200"
                    href="/login">Login</a>
                <a class="hidden lg:inline-block py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200"
                    href="/join">Join</a>
                {% endif %}
            </nav>
            <div class="navbar-menu relative z-50 hidden">
                <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
                <nav
                    class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
                    <div class="flex items-center mb-8">
                        <a class="mr-auto text-3xl font-bold leading-none" href="#">
                            <img src="/static/images/logo.png" alt="logo" class="h-10 w-10">
                        </a>
                        <button class="navbar-close">
                            <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </button>
                    </div>
                    <div>
                        <ul>
                            <li class="mb-1">
                                <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                                    href="/">Home</a>
                            </li>
                            <li class="mb-1">
                                <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                                    href="/events">Events</a>
                            </li>
                            <li class="mb-1">
                                <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                                    href="/pricing">Pricing</a>
                            </li>
                            <li class="mb-1">
                                <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                                    href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mt-auto">
                        {% if g.user %}
                        <a class="block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold leading-none bg-gray-50 hover:bg-gray-100 rounded-xl"
                            href="/account">My account</a>
                        <a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-blue-600 hover:bg-blue-700  rounded-xl"
                            href="/logout">Logout</a>
                        {% else %}
                        <div class="pt-6">
                            <a class="block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold leading-none bg-gray-50 hover:bg-gray-100 rounded-xl"
                                href="/login">Login</a>
                            <a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-blue-600 hover:bg-blue-700  rounded-xl"
                                href="/join">Join</a>
                        </div>
                        {% endif %}
                        <p class="my-4 text-xs text-center text-gray-400">
                            <span>Copyright © 2024</span>
                        </p>
                    </div>
                </nav>
            </div>
        </body>

        <script>
            // Burger menus
            document.addEventListener('DOMContentLoaded', function () {
                // open
                const burger = document.querySelectorAll('.navbar-burger');
                const menu = document.querySelectorAll('.navbar-menu');

                if (burger.length && menu.length) {
                    for (var i = 0; i < burger.length; i++) {
                        burger[i].addEventListener('click', function () {
                            for (var j = 0; j < menu.length; j++) {
                                menu[j].classList.toggle('hidden');
                            }
                        });
                    }
                }

                // close
                const close = document.querySelectorAll('.navbar-close');
                const backdrop = document.querySelectorAll('.navbar-backdrop');

                if (close.length) {
                    for (var i = 0; i < close.length; i++) {
                        close[i].addEventListener('click', function () {
                            for (var j = 0; j < menu.length; j++) {
                                menu[j].classList.toggle('hidden');
                            }
                        });
                    }
                }

                if (backdrop.length) {
                    for (var i = 0; i < backdrop.length; i++) {
                        backdrop[i].addEventListener('click', function () {
                            for (var j = 0; j < menu.length; j++) {
                                menu[j].classList.toggle('hidden');
                            }
                        });
                    }
                }
            });
        </script>
    </header>
    <!-- display current page -->


    <main>
        {% block body %}{% endblock %}
    </main>

    <script src="" async defer></script>
</body>

<footer class="bg-gray-50 lg:grid lg:grid-cols-5">
    <!-- Logo Section -->
    <div class="relative block lg:col-span-2 lg:h-full">
        <img src="/static/images/full_logo.png" alt="Company Logo"
            class="absolute inset-0 h-full w-full object-contain" />
    </div>

    <!-- Main Content Section -->
    <div class="px-4 py-16 sm:px-6 lg:col-span-3 lg:px-8">
        <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
            <!-- Contact Info -->
            <div>
                <p>
                    <span class="text-xs uppercase tracking-wide text-gray-500">Call us</span>
                    <a href="tel:3362918430"
                        class="block text-2xl font-medium text-gray-900 hover:opacity-75 sm:text-3xl">
                        (336) 291-8430
                    </a>
                </p>

                <ul class="mt-8 space-y-1 text-sm text-gray-700">
                    <li>Monday - Thursday: 10:00 AM - 8:00 PM</li>
                    <li>Friday - Saturday: 10:00 AM - 9:00 PM</li>
                    <li>Sunday: 11:00 AM - 8:00 PM</li>
                </ul>

                <ul class="mt-8 flex gap-6">
                    <li>
                        <a href="https://www.facebook.com/groups/532233048430179/" rel="noreferrer" target="_blank"
                            class="text-gray-700 transition hover:opacity-75">
                            <span class="sr-only">Facebook</span>
                            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                                    clip-rule="evenodd" />
                            </svg>
                        </a>
                    </li>
                    <!-- Additional Social Icons can be added here -->
                </ul>
            </div>

            <!-- Pages Links -->
            <div>
                <p class="font-medium text-gray-900">Navigate</p>
                <ul class="mt-6 space-y-4 text-sm">
                    <li><a href="/pricing" class="text-gray-700 transition hover:opacity-75">Pricing</a></li>
                    <li><a href="/join" class="text-gray-700 transition hover:opacity-75">Join</a></li>
                    <li><a href="/apply" class="text-gray-700 transition hover:opacity-75">Employment</a></li>
                    <li><a href="/contact" class="text-gray-700 transition hover:opacity-75">Contact</a></li>
                </ul>
            </div>
        </div>

        <!-- Footer Bottom Section -->
        <div class="mt-12 border-t border-gray-300 pt-12">
            <div class="sm:flex sm:items-center sm:justify-between">
                <ul class="flex flex-wrap gap-4 text-xs">
                    <li><a href="/policies" class="text-gray-300 transition hover:opacity-75">Policies</a></li>
                </ul>
                <p class="mt-8 text-xs text-gray-300 sm:mt-0">
                    &copy; 2024. Rao's Pool Pickle Party. All rights reserved. V1.4.0
                </p>
            </div>
        </div>
    </div>
</footer>

</html>