{% extends '_layout.html' %}

{% block body %}

{% if members[0].emp_id %}

<header class="bg-gray-50">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <div class="text-center sm:text-left">
                <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">Employee ID: E{{ members[0].emp_id }}
                </h1>
            </div>
            {% if emp %}
            <div class="mt-4 flex flex-col gap-4 sm:mt-0 sm:flex-row sm:items-center">
                {% if admin %}
                <a href="/applications">
                    <button
                        class="inline-flex items-center justify-center gap-1.5 rounded-lg border border-gray-200 px-5 py-3 text-gray-500 transition hover:bg-gray-50 hover:text-gray-700 focus:outline-none focus:ring"
                        type="button">
                        <span class="text-sm font-medium"> Applications </span>
                    </button>
                </a>
                {% endif %}
                {% if members[0].active %}
                <a href="/checkin">
                    <button
                        class="inline-flex items-center justify-center gap-1.5 rounded-lg border border-gray-200 px-5 py-3 text-gray-500 transition hover:bg-gray-50 hover:text-gray-700 focus:outline-none focus:ring"
                        type="button">
                        <span class="text-sm font-medium"> Check in app </span>

                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                        </svg>
                    </button>
                </a>
                {% endif %}

                <a href="/account/edit?user_id={{ members[0].emp_id }}{{ members[0].member_id }}">
                    <button
                        class="block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white transition hover:bg-blue-700 focus:outline-none focus:ring"
                        type="button">
                        Edit
                    </button>
                </a>
                {% if admin and not my_account %}
                <button
                    class="block rounded-lg bg-red-500 px-5 py-3 text-sm font-medium text-white transition hover:bg-red-700 focus:outline-none focus:ring"
                    type="button" id="delete">
                    Delete
                </button>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</header>

<div class="mx-auto max-w-screen-xl px-4 py-2 sm:px-6 sm:py-2 lg:px-8">
    <div class="flow-root rounded-lg border border-blue-500 py-3 shadow-sm">
        <dl class="-my-3 divide-y divide-gray-100 text-sm">
            <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Status</dt>
                <dd class="text-green-700 {% if not members[0].active %}text-red-700{% endif %} sm:col-span-2">{% if
                    members[0].active %}Active{% else %}Inactive (Awaiting interview){% endif %}</dd>
            </div>

            <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Position</dt>
                <dd class="text-gray-700 sm:col-span-2">{{ members[0].position }}</dd>
            </div>

            <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">First name</dt>
                <dd class="text-gray-700 sm:col-span-2">{{ members[0].first_name }}</dd>
            </div>

            <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Middle name</dt>
                <dd class="text-gray-700 sm:col-span-2">{{ members[0].middle_name }}</dd>
            </div>

            <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Last name</dt>
                <dd class="text-gray-700 sm:col-span-2">{{ members[0].last_name }}</dd>
            </div>

            <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Email</dt>
                <dd class="text-gray-700 sm:col-span-2">{{ members[0].email }}</dd>
            </div>

            <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Phone number</dt>
                <dd class="text-gray-700 sm:col-span-2">{{ members[0].phone }}</dd>
            </div>

            <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Birthday</dt>
                <dd class="text-gray-700 sm:col-span-2">{{ members[0].birthday }}</dd>
            </div>

            <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Eligable to work in US</dt>
                <dd class="text-gray-700 sm:col-span-2">{{ members[0].us_eligable }}</dd>
            </div>

            <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Has a license</dt>
                <dd class="text-gray-700 sm:col-span-2">{{ members[0].license }}</dd>
            </div>

            <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Address</dt>
                <dd class="text-gray-700 sm:col-span-2">{{ members[0].street }}, {{ members[0].city }} {{
                    members[0].state }}, {{ members[0].zip_code }}</dd>
            </div>

            <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Felony in the last 7 years</dt>
                <dd class="text-gray-700 sm:col-span-2">{{ members[0].felony }}</dd>
            </div>

            <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Admin</dt>
                <dd class="text-gray-700 sm:col-span-2">{{ members[0].admin }}</dd>
            </div>
        </dl>
    </div>
</div>

{% else %}
{% include '_member_account.html' %}
{% endif %}

<script>
    // show popup oin click of delete button
    document.getElementById('delete').addEventListener('click', function (e) {
        console.log('delete');
        e.preventDefault(); // Prevent the default link behavior
        var userConfirmed = confirm('Warning: deleting this account will also delete all associated data. This action cannot be undone.');
        if (userConfirmed) {
            window.location.href = "/account/delete?delete_id={{ members[0].emp_id }}{{ members[0].membership_id }}"; // Navigate to the href if the user confirms
        }
    });
</script>

{% endblock %}