{% extends '_layout.html' %}

{% block body %}
<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold sm:text-3xl">Create member</h1>

        <p class="mt-4 text-gray-500">
            Input member information here
        </p>
    </div>

    <form action="/create/member" method="post" class="mx-auto mb-0 mt-8 max-w-md space-y-4">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">

            <div>
                <label class="sr-only" for="fname">First name</label>
                <input class="w-full rounded-lg border border-gray-200 p-3 text-sm" placeholder="First name"
                    type="text" id="fname" name="fname" required />
            </div>

            <div>
                <label class="sr-only" for="lname">Last name</label>
                <input class="w-full rounded-lg border border-gray-200 p-3 text-sm" placeholder="Last name"
                    type="text" id="lname" name="lname" required />
            </div>
        </div>
        <div>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
            <div class="">
                <!-- <lable class="mt-2 not-italic">Select birthday</lable> <br> -->
                <input id="datepicker" class="w-full rounded-lg border border-gray-200 p-3 text-sm"
                    type="text" placeholder="Select birthday" name="dob">
            </div>
            <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
            <script>
                flatpickr("#datepicker", {
                    // Configuration options for Flatpickr
                    // You can customize the appearance and behavior here
                });
            </script>
        </div>

        <div class="flex items-center justify-center">
            <button type="submit" class="inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white">
                Submit
            </button>
        </div>        
    </form>
</div>
{% endblock %}