{% extends '_layout.html' %}

{% block body %}
<section class="bg-white">
    <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
        <h2 class="text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
            Check out what going on now at Rao's
        </h2>

        <div class="mt-8 [column-fill:_balance] sm:columns-2 sm:gap-6 lg:columns-3 lg:gap-8">
            {% for image_src in images %}
            <div class="mb-8 sm:break-inside-avoid">
                <img src="static/images/events/{{ image_src }}" alt="">
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}