{% extends '_layout.html' %}

{% block body %}
<header class="bg-gray-50">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <div class="text-center sm:text-left">
                <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">Policies</h1>

                <p class="mt-1.5 text-sm text-gray-500">Please read the following rules and regulations.</p>
            </div>
        </div>
    </div>
</header>

<body>
    <div class="flex items-center justify-center min-h-screen">
        <iframe src="https://drive.google.com/file/d/1VifnhoVBWdC7Z94fDJS2zyhZEbXPPDhK/preview" width="640" height="480" allow="autoplay"></iframe>    </div>
</body>
{% endblock %}