{% extends '_layout.html' %}

{% block body %}
<div class="relative bg-gray-900">
    <img src="/static/images/home_page_image.jpg" alt="Banner Image" class="w-full h-20 sm:h-40 object-cover object-center">
    <div class="container mx-auto pl-6">
        <div class="absolute top-1/2 transform -translate-y-1/2 bg-white p-2 sm:p-3 rounded-lg shadow-lg">
            <h1 class="text-xl sm:text-3xl font-bold text-blue-600 mb-1">Pricing Information</h1>
            <p class="text-sm sm:text-base mb-1 sm:mb-2 hidden sm:block"">
                Choose the best plan for you or your family
            </p>
        </div>
    </div>
</div>

<div class="bg-gray-50 py-2 px-4 sm:px-6 lg:px-8">
    <div class="max-w-screen-xl mx-auto">
        <div class="mt-6 text-sm text-gray-700">
            <p class="text-red-600">Note: Children age 3 and under are <strong>free</strong> and do not count toward member total.</p>
        </div>
        <div class="mt-4 bg-yellow-100 border-l-4 border-yellow-400 p-4">
            <p class="text-yellow-800 text-lg font-bold">Seniors aged 60 and older get a couple memberships for <bold
                    id="seniorCurrectPrice">$400</bold>!
            </p>
        </div>
    </div>
</div>


<div class="flex items-center justify-center min-h-screen">

    <div class="max-w-screen-xl px-4 py-4 sm:px-6 sm:py-4 lg:px-8 lg:py-4">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm:items-stretch md:grid-cols-3 md:gap-8">
            <div class="divide-y divide-gray-200 rounded-2xl border border-gray-200 shadow-sm bg-blue-100">
                <div class="p-6 sm:px-8">
                    <h2 class="text-2xl font-medium text-gray-900">
                        Single
                        <span class="sr-only">Plan</span>
                    </h2>

                    <p class="mt-2 text-gray-700">Single Person Membership</p>

                    <p class="mt-2 sm:mt-4">
                        <strong id="singleCurrectPrice" class="text-3xl font-bold text-gray-900 sm:text-4xl"> $400
                        </strong>

                        <span class="text-sm font-medium text-gray-700">/season</span>
                    </p>

                    <p class="mt-2 text-gray-700 line-through">Plus $250 initiation fee</p>

                    <a class="mt-4 block rounded border border-indigo-600 bg-blue-600 px-12 py-3 text-center text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500 sm:mt-6"
                        href="/join?type=single">
                        Join today
                    </a>
                </div>

                <div class="p-6 sm:px-8">
                    <p class="text-lg font-medium text-gray-900 sm:text-xl">What's included:</p>

                    <ul class="mt-2 space-y-2 sm:mt-4">
                        <li class="flex items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-5 text-indigo-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                            </svg>

                            <span class="text-gray-700"> Facility access </span>
                        </li>

                        <li class="flex items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-5 text-indigo-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                            </svg>

                            <span class="text-gray-700"> 300,000 gallon pool </span>
                        </li>
                        <li class="flex items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-5 text-indigo-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                            </svg>

                            <span class="text-gray-700"> Pickleball </span>
                        </li>

                        <li class="flex items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-5 text-indigo-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                            </svg>

                            <span class="text-gray-700"> 1 Member </span>
                        </li>

                        <li class="flex items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-5 text-indigo-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                            </svg>

                            <span class="text-gray-700"> 2 free monthly guest passes </span>
                        </li>

                        <li class="flex items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-5 text-indigo-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                            </svg>

                            <span class="text-gray-700"> $5 kids guest passes (4-12) </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="divide-y divide-gray-200 rounded-2xl border border-gray-200 shadow-sm bg-blue-100">
                <div class="p-6 sm:px-8">
                    <h2 class="text-2xl font-medium text-gray-900">
                        Couple
                        <span class="sr-only">Plan</span>
                    </h2>

                    <p class="mt-2 text-gray-700">Two Person Membership</p>

                    <p class="mt-2 sm:mt-4">
                        <strong id="coupleCurrentPrice" class="text-3xl font-bold text-gray-900 sm:text-4xl"> $500
                        </strong>

                        <span class="text-sm font-medium text-gray-700">/season</span>
                    </p>

                    <p class="mt-2 text-gray-700 line-through">Plus $400 initiation fee</p>

                    <a class="mt-4 block rounded border border-indigo-600 bg-blue-600 px-12 py-3 text-center text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500 sm:mt-6"
                        href="/join?type=couple">
                        Join today
                    </a>
                </div>

                <div class="p-6 sm:px-8">
                    <p class="text-lg font-medium text-gray-900 sm:text-xl">What's included:</p>

                    <ul class="mt-2 space-y-2 sm:mt-4">
                        <li class="flex items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-5 text-indigo-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                            </svg>

                            <span class="text-gray-700"> Facility access </span>
                        </li>

                        <li class="flex items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-5 text-indigo-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                            </svg>

                            <span class="text-gray-700"> 300,000 gallon pool </span>
                        </li>
                        <li class="flex items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-5 text-indigo-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                            </svg>

                            <span class="text-gray-700"> Pickleball </span>
                        </li>

                        <li class="flex items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-5 text-indigo-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                            </svg>

                            <span class="text-gray-700"> 2 Members </span>
                        </li>

                        <li class="flex items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-5 text-indigo-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                            </svg>

                            <span class="text-gray-700"> 2 free monthly guest passes </span>
                        </li>

                        <li class="flex items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-5 text-indigo-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                            </svg>

                            <span class="text-gray-700"> $5 kids guest passes (4-12) </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="divide-y divide-gray-200 rounded-2xl border border-gray-200 shadow-sm bg-blue-100">
                <div class="p-6 sm:px-8">
                    <h2 class="text-2xl font-medium text-gray-900">
                        Family
                        <span class="sr-only">Plan</span>
                    </h2>

                    <p class="mt-2 text-gray-700">Full Family Membership</p>

                    <p class="mt-2 sm:mt-4">
                        <strong id="familyCurrentPrice" class="text-3xl font-bold text-gray-900 sm:text-4xl"> $700
                        </strong>

                        <span class="text-sm font-medium text-gray-700">/season</span>
                    </p>

                    <p class="mt-2 text-gray-700 line-through">Plus $600 initiation fee</p>

                    <a class="mt-4 block rounded border border-indigo-600 bg-blue-600 px-12 py-3 text-center text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500 sm:mt-6"
                        href="/join?type=family">
                        Join today
                    </a>
                </div>

                <div class="p-6 sm:px-8">
                    <p class="text-lg font-medium text-gray-900 sm:text-xl">What's included:</p>

                    <ul class="mt-2 space-y-2 sm:mt-4">
                        <li class="flex items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-5 text-indigo-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                            </svg>

                            <span class="text-gray-700"> Facility access </span>
                        </li>

                        <li class="flex items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-5 text-indigo-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                            </svg>

                            <span class="text-gray-700"> 300,000 gallon pool </span>
                        </li>
                        <li class="flex items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-5 text-indigo-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                            </svg>

                            <span class="text-gray-700"> Pickleball </span>
                        </li>

                        <li class="flex items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-5 text-indigo-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                            </svg>

                            <span class="text-gray-700"> Unlimited household membership </span>
                        </li>

                        <li class="flex items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-5 text-indigo-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                            </svg>

                            <span class="text-gray-700"> 2 free monthly guest passes </span>
                        </li>

                        <li class="flex items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-5 text-indigo-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                            </svg>

                            <span class="text-gray-700"> $5 kids guest passes (4-12) </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="divide-y divide-gray-200 rounded-2xl border border-gray-200 shadow-sm bg-blue-50">
                <div class="p-6 sm:px-8">
                    <h2 class="text-2xl font-medium text-gray-900">
                        Single Day Pass
                        <span class="sr-only">Plan</span>
                    </h2>

                    <p class="mt-2 text-gray-700">Adams farm residents only</p>
                    <p class="text-gray-700">Sign up in person</p>

                    <p class="mt-2 sm:mt-4">
                        <strong class="text-3xl font-bold text-gray-900 sm:text-4xl"> $10 </strong>

                        <span class="text-sm font-medium text-gray-700">/day</span>
                    </p>
                </div>
            </div>
            <div class="divide-y divide-gray-200 rounded-2xl border border-gray-200 shadow-sm bg-blue-50">
                <div class="p-6 sm:px-8">
                    <h2 class="text-2xl font-medium text-gray-900">
                        Couple Day Pass
                        <span class="sr-only">Plan</span>
                    </h2>

                    <p class="mt-2 text-gray-700">Adams farm residents only</p>
                    <p class="text-gray-700">Sign up in person</p>

                    <p class="mt-2 sm:mt-4">
                        <strong class="text-3xl font-bold text-gray-900 sm:text-4xl"> $20 </strong>

                        <span class="text-sm font-medium text-gray-700">/day</span>
                    </p>
                </div>
            </div>
            <div class="divide-y divide-gray-200 rounded-2xl border border-gray-200 shadow-sm bg-blue-50">
                <div class="p-6 sm:px-8">
                    <h2 class="text-2xl font-medium text-gray-900">
                        Family Day Pass (6)
                        <span class="sr-only">Plan</span>
                    </h2>

                    <p class="mt-2 text-gray-700">Adams farm residents only</p>
                    <p class="text-gray-700">Sign up in person</p>

                    <p class="mt-2 sm:mt-4">
                        <strong class="text-3xl font-bold text-gray-900 sm:text-4xl"> $40 </strong>

                        <span class="text-sm font-medium text-gray-700">/day</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="bg-gray-100 py-4">
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
        <p class="text-sm text-gray-600 text-center">Prices listed apply for the 2024 season and may change.</p>
    </div>
</footer>

<script>
    // get how many week there have been since June 15th at 12:00am
    // Define the date from which to calculate the weeks
    const startDate = new Date('2024-06-15T00:00:00');
    const currentDate = new Date();
    const diffInMilliseconds = currentDate - startDate;
    const millisecondsInAWeek = 7 * 24 * 60 * 60 * 1000;
    const weeksSinceStartDate = diffInMilliseconds / millisecondsInAWeek;
    let week = Math.floor(weeksSinceStartDate);

    // Log the result
    if (week >= 7) {
        week = 7;
    }
    const singlePrice = 400 - (week * 25);
    const couplePrice = 500 - (week * 35);
    const familyPrice = 700 - (week * 50);

    document.getElementById('singleCurrectPrice').innerText = `$${singlePrice}`;
    document.getElementById('seniorCurrectPrice').innerText = `$${singlePrice}`;
    document.getElementById('coupleCurrentPrice').innerText = `$${couplePrice}`;
    document.getElementById('familyCurrentPrice').innerText = `$${familyPrice}`;
</script>
{% endblock %}